@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: antiquewhite;
}

.topBar {
    background-color: #1a1712;
    width: 100%;
    padding: 20px;
    display: inline-flex;
    box-shadow: 0px 25px 20px 20px #1a1712;
}
.topBar.Title {
    color: white;
    font-size: 50px;
}
.topBar.Buttons {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 80%;
}
.topBar.Buttons .button {
    display: inline;
    background-color: #403a31;
    align-self: center;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: 0;
    margin: 5px;
    box-shadow: none;
}
.topBar.Buttons .buttonBarB {
    display: none;
    background-color: #403a31;
    align-self: center;
    align-content: center;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border: 0;
}
.topBar.Buttons button:hover {
    background-color: #61594e;
    cursor: pointer;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: 0;
    margin: 5px;
}
.topBar.Buttons button:active {
    background-color: #302d29;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: 0;
    margin: 5px;
}

#menuArea {
    display: none;
    background-color: #00000088;
    box-shadow: 0px 0px 20px 20px #00000088;
}
#menuArea .menuOptions {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 10%;
    color: white;
}
#menuArea .menuOptions .options {
    background-color: #403a31;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 50%;
    color: white;
    font-size: 1.3em;
}
#menuArea .menuOptions .options:hover {
    background-color:#61594e;
    cursor: pointer;
}
#menuArea .menuOptions .options:active {
    background-color:#302d29;
}

#mainFrame {
    margin-top: 20px;
}
#mainFrame .textarea {
    margin: 10%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0px 0px 30px 10px #1a1712;
}
#mainFrame .textarea span.text {
    font-size: 1.5em;
    color: black;
}
#mainFrame .textarea span.text button {
    background-color: #abb2ba;
    border: 0;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 1.2em;
    align-items: center;
}
#mainFrame .textarea span.text button:hover {
    background-color: #868b91;
    border: 0;
    border-radius: 10px;
    font-size: 1.2em;
}
#mainFrame .textarea span.text button:active {
    background-color: #a6adb6;
    border: 0;
    border-radius: 10px;
    font-size: 1.2em;
}
#mainFrame .textarea span.text div.text.ButtonArea {
    margin-top: 5px;
    border-top: 0px solid;
}

#aboutArea {
    background-color: #1a1712;
    box-shadow: 0px 0px 20px 40px #1a1712;
    display: block;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
#aboutArea h1, #aboutArea h2, #aboutArea h3 {
    color: white;
}
#aboutArea .Areas {
    display: flex;
}
#aboutArea .socialArea {
    flex: 1;
    margin: 10px;
    display:block;
    background-color: #403a31;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
#aboutArea .socialArea a {
    display: inline-flex;
    color: white;
    align-content: center;
    align-items: center;
}

@media screen and (max-width: 859px) {
    .topBar.Buttons {
        width: auto;
    }
    .topBar.Buttons .button {
        display: none;
    }
    .topBar.Buttons .buttonBarB {
        display: inline;
    }
    #mainFrame {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #mainFrame .textarea {
        box-shadow: 0px 0px 10px 5px #1a1712;
        margin: 7%;
    }
    #mainFrame .textarea span.text {
        font-size: 1em;
    }
    #mainFrame .textarea span.text button {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 586px) {
    #aboutArea .Areas {
        display: block;
    }
}